* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, .row {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: #7C90A0;
}

#backtotop {
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 1;
	display: none;
	color: #141414;
	background-color: #f2f2f2;
	border-radius: 5px;
	padding: 10px;
}

#backtotop:hover {
	color: #f2f2f2;
	background-color: #4E5166;
}

/*navbar*/

.navbar .collapse .left .nav-link {
	color: #B9B7A7;
	padding: 0 10px;
}

.navbar .collapse .left .nav-link:hover {
	border: 1px solid #B9B7A7;
}

.navbar .collapse .right .nav-link {
	color: #B9B7A7;
	font-size: 1.2em;
}

.navbar .collapse .right .nav-link:hover {
	color: #f2f2f2;
}

.navbar .navbar-collapse .left .nav-link {
	color: #B9B7A7;
	padding: 10px;
}

/*end of navbar*/


/*about*/
#two {
	min-height: 100px;
	color: #f2f2f2;
}

#two .about {
	margin-top: 80px;
	border: 5px solid #BCEBCB;
	padding: 20px;
}

#two img {
	border-radius: 100%;
	width: 60%;
	height: auto;
	margin: auto;
	display: block;
	padding: 10px;
}

#two h3 {
	text-shadow: grey 2px 2px;
	color: #BCEBCB;
}

#two hr {
	background-color: #BCEBCB;
	height: 3px;
}

#two .container #about-text {
	margin: auto;
	color: #B9B7A7;
	padding-right: 20px;
}

#two .container #about-text button {
	margin: 0 auto;
	display: block;
}

#two .about h4 {
	letter-spacing: 1px;
	color: #f2f2f2;
}

#two .about h5 {
	letter-spacing: 1px;
	color: #4E5166;
}

#two .about p {
	letter-spacing: 1px;
	color: #f2f2f2;
	line-height: 20px;
}

#two [class*=col] {
	padding-left: 0;
	padding-right: 0;
}

/*end of about*/

/*projects*/
#three {
	min-height: 100px;
	color: #f2f2f2;
}

#three .projects {
	margin-top: 80px;
	border: 5px solid #BCEBCB;
	padding: 20px;
}

#three h3 {
	text-shadow: grey 2px 2px;
	color: #BCEBCB;
}

#three hr {
	background-color: #BCEBCB;
	height: 3px;
}

#three a {
	/*font-family: 'Condiment', cursive;*/
	text-decoration: none;
	color: #141414;
	/*text-shadow: #f2f2f2 2px 1px;*/
	letter-spacing: 2px;
	text-align: center;
}

#three a:hover {
	text-decoration: none;
	color: #f2f2f2;
	/*text-shadow: #f2f2f2 2px 1px;*/
	letter-spacing: 2px;
}

#three .card {
	margin: 5px;
	padding: 0;
	border: none;
	cursor: pointer;
}

#three [class*=col] {
	padding: 0;
}

#three .modal {
	color: #141414;
}

#three .modal .modal-dialog {
	width: 1000px;
}

/*end of projects*/


/*skills*/
#four {
	min-height: 100px;
	color: #f2f2f2;
}

#four .skills {
	margin-top: 80px;
	border: 5px solid #BCEBCB;
	padding: 20px;
}

#four h3 {
	text-shadow: grey 2px 2px;
	color: #BCEBCB;
}

#four hr {
	background-color: #BCEBCB;
	height: 3px;
}

#four .row {
	padding-bottom: 20px;
}

#four .progress .progress-bar {
	background-color: #D5959B;
	color: #141414;
}

/*end of skills*/

/*section 5*/
#five {
	min-height: 100px;
	color: #f2f2f2;
}

#five .contact {
	margin-top: 80px;
	border: 5px solid #BCEBCB;
	padding: 20px;
}

#five h3 {
	text-shadow: grey 2px 2px;
	color: #BCEBCB;
}

#five hr {
	background-color: #BCEBCB;
	height: 3px;
}

#five label, #five p {
	color: #f2f2f2;
}

#five input {
	width: 50%;
}

#five textarea {
	width: 80%;
	height: 100px;
}

#five .btn-primary {
	background-color: #B9B7A7;
	color: #4E5166;
	border: none;
}

#five .btn-primary:hover {
	background-color: #4E5166;
	color: #f2f2f2;
}

#five .modal {
	color: #4E5166;
} 

#five .modal .modal-body p {
	color: #4E5166;
}

/*end of section 5*/

/*footer section 6*/
#six {
	background-color: #4E5166;
	min-height: 70px;
	margin-top: 40px;
	padding: 20px;
}

#six .link {
	color: #CFC8C0;
	letter-spacing: 20px;
	font-size: 1.2em;
}

#six .link:hover {
	color: #f2f2f2;
}

/*end of footer section 6*/

/*section 7*/

#seven {
	height: 25px;
	background-color: #141414;
	color: #f2f2f2;
	text-align: center;
}

#seven small {
	font-size: .6em;
}

/*end of section 7*/


@media only screen and (max-width: 450px) {
	#two .about h4 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 98%;
	}

	#two img {
		width: 40%;
		height: auto;
		margin: 2% auto;
		display: block;
	}

	#two .about h4 {
		font-size: 1.2em;
	}

	#two .about h5 {
		font-size: 1em;
	}

	#two .about p {
		font-size: .7em;
	}

	#four .row p {
		font-size: .8em;
	}

	#five label, 
	#five p {
		font-size: .9em;
	}

	#five input {
		width: 100%;
	}

	#five textarea {
		width: 100%;
		height: 100px;
	}

	#backtotop {
		font-size: .8em;
	}
}

@media only screen and (min-width: 451px) and (max-width: 768px) {
	#two .about h4 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 99%;
	}

	#two img {
		width: 70%;
		height: auto;
		margin: auto;
		display: block;
		padding: 10px;
	}

	#two .about h5 {
		font-size: 1.2em;
	}

	#two .about p {
		font-size: .8em;
	}

	#five input {
		width: 70%;
	}

	#five textarea {
		width: 70%;
		height: 100px;
	}

	#backtotop {
		font-size: .9em;
	}
}


